.panel {
    position: absolute;
    top: -126px;
    left: 200px;
    z-index: 10000;
    background-color: #333;
    width: 320px;
    color: #aaa;
    border-top: 2px solid #C91C55;
}

.panel-title {
    padding: 8px 12px;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 700;
    color: white;
}


.top-content {
    padding: 8px 12px;
    background: rgba(255,255,255,0.1);
    margin: -12px -12px 12px;
    color: #ccc;
}

.top-content .movie-info {
    display: inline-block;
    padding: 3px 0;
    margin-right: 20px;
}

.movie-info.rating {
    padding: 3px 7px;
    background-color: yellow;
    color: #111;
}


.panel-content {
    padding: 12px;
    line-height: 1.3;
    font-size: 12px;
}

.panel-bottom {
    margin-top: 15px;
}

.btn-block {
    width: 100%;
}