
.trending-movies {
    max-height: 505px;
}

.carousel-img {
    width: 100%;
}

.slide-caption {
    width: 600px;
    color: #fff;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    font-size: 16px;
    font-weight: 300;
    background: rgba(33,33,33,0.6);
    padding: 15px 20px 20px;
    border-left: 2px solid #fff;
    text-align: left;
}

.slide-caption p {
    font-size: 13px;
    color: #ccc;
}

