
.main {
    margin-right: 350px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1600px) {
    .container {
        width: 96% !important;
        max-width: none;
    }
}