.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    background: #1d1b1c;
    border-left: 1px solid #151515;
    z-index: 3;
    padding: 20px;
}

.side-bar-top {
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 1440px) {
    .side-bar {
        display: none;
    }
}
@media screen and (max-height: 999px) {
    .side-bar-top {
        height: 600px;
    }
}

@media screen and (max-height: 850px) {
    .side-bar-top {
        height: 520px;
    }
}

@media screen and (max-height: 800px) {
    .side-bar-top {
        height: 400px;
    }
}

@media screen and (max-height: 800px) {
    .side-bar-top {
        height: 400px;
    }
}

.side-bar-bottom {
    padding: 20px;
}

.side-bar-bottom img {
    width: 100%;
}

.side-bar::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background: #333;
}

.side-bar hr {
    margin-left: -20px;
    width: calc(100% + 40px);;
}

.side-bar .movies-side {
    height: 100px;
}

.logo {
    filter: brightness(0) saturate(100%) invert(19%) sepia(92%) saturate(3647%) hue-rotate(329deg) brightness(81%) contrast(92%);
}