* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232122;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;
  position: relative;;
}

a {
    color: #dfdfdf;
    text-decoration: none !important;
    outline: none;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #838282;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d4b4b;
}

a:hover {
    color: white;
}

.btn-danger {
  background-color: #c91c55;
}

.btn-danger:hover {
  background: #e02d68;
}